<div class="alert alert-@Type mt-4 alert-dismissible">
    <span class="oi oi-check me-2" aria-hidden="true"></span>
    <strong>@Title</strong>
    <br />
    <span class="text-nowrap">
        @Content
    </span>
    <br />
    <span class="text-nowrap">
        @Description
    </span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Content { get; set; }
    [Parameter]
    public string? Description { get; set; }
    [Parameter]
    public string? Type { get; set; }
}
