@page "/FirstListEducation/"
@inject IEducationService _educationService
@using BlazorAppCRUD.Data

@foreach (var edu in EducationsList)
{
    <button type="button" class="btn btn-sm btn-outline-success mx-1 mb-3">@edu.School <a @onclick="Delete" href="FirstListEducation/{@edu.Id}">@edu.Id</a></button>
}
@code {

    [Parameter] public List<Education> EducationsList { get; set; }
    [Parameter] public int EducationSchoolId { get; set; }
    [Parameter] public Employee employeeInfo { get; set; }
    private async void Delete()
    {
        bool educationDeleted;

        educationDeleted = await _educationService.DeleteEducation(EducationSchoolId);

        if (educationDeleted)
            EducationsList = await _educationService.GetEducationSchool(employeeInfo.Id);

        await InvokeAsync(() =>
            {
                StateHasChanged();
            });
    }

    }