@using BlazorAppCRUD.Data
@using System.Net.Mail;
@using System.Net
@inject IUserService _userService
@inject IForgotPasswordService _forgotService
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore
@layout LoginLayout
@page "/ForgotPasswordPage"
@*/Login yerine / yaparsan ana sayfaya atar*@
<div class="wrapper">
    <div class="logo"> <img width=50 height=50 src="./images/logo.png" alt=""> </div>
    <div class="text-center mt-4 name"> Hepapi CV Maker </div>
    <EditForm Model="@User" OnValidSubmit="@SendEmail" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" name="userName" id="userName" placeholder="E-mail" @bind="TokenSessionValue">
        </div>
        <button type="submit" class="btn mt-3">Send Email</button>
    </EditForm>
    <div class="text-center fs-6"><a style="color:#4BD9B8" href="/">Return Login</a> </div>
</div>

@code {
    public User User = new User();
    string TokenSessionValue = "";
    bool SavedToken;

    private async void SendEmail()
    {
        var UserEmail = TokenSessionValue;
        var UserInfo = await _userService.GetUserEmail(UserEmail);
        if (!string.IsNullOrEmpty(Convert.ToString(UserInfo)))
        {
            var Token = Guid.NewGuid();
            ForgotPassword forgotPassword = new ForgotPassword
                {
                    UserId = UserInfo.Id,
                    Token = Token
                };

            SavedToken = await _forgotService.Create(forgotPassword);
            if (SavedToken)
            {
                await oLocalStore.SetItemAsync("TokenSession", TokenSessionValue);
                var client = new SmtpClient("smtp.gmail.com", 587)
                    {
                        Credentials = new NetworkCredential("erdemdoganayiletisim@gmail.com", "Erdem.1234"),
                        EnableSsl = true
                    };
                client.Send("erdemdoganayiletisim@gmail.com", "erdemdoganayiletisim@gmail.com", "RESET PASSWORD", "https://localhost:7211/ResetPassword/" + Token);
            }
        }

        await jsRuntime.InvokeVoidAsync("toastr.success", "Please Check Your Email Box", "Congratulations");

    }
}
