@using BlazorAppCRUD.Data
@inject IUserService _userService
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore
@layout LoginLayout
@page "/ForgotPassword"
@*/Login yerine / yaparsan ana sayfaya atar*@
<div class="wrapper">
    <div class="logo"> <img width=50 height=50 src="./images/logo.png" alt=""> </div>
    <div class="text-center mt-4 name"> Hepapi CV Maker </div>
    <EditForm Model="@User" OnValidSubmit="@LoginUser" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" name="userName" id="userName" placeholder="E-mail" >
        </div>
        <button type="submit" class="btn mt-3">Send Email</button>
    </EditForm>
    <div class="text-center fs-6"><a style="color:#4BD9B8" href="/">Return Login</a> </div>
</div>
@code {

    public User User = new User();
    string SessionValue = "";


    private async void LoginUser()
    {
        
         await jsRuntime.InvokeVoidAsync("toastr.success", "Please Check Your Email Address", "Congratulations");

    }
}
