@page "/home"
<h3>Home</h3>

<form>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">Surname</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Surname">
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">E-Mail Address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter E-Mail Address">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <label for="exampleInputEmail1">Phone</label>
                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone">
            </div>
            <div class="col-md-8">
                <label for="exampleInputEmail1">Address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Address">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3">
                <label for="exampleInputEmail1">City</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter City">
            </div>
            <div class="col-md-3">
                <label for="exampleInputEmail1">District</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter District">
            </div>
            <div class="col-md-3">
                <label for="exampleInputEmail1">Post Code</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Post Code">
            </div>
            <div class="col-md-3">
                <label for="exampleInputEmail1">Gender</label>
                <select class="custom-select form-control">
                    <option selected>Select a gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2">
                <label for="exampleInputEmail1">Military Service</label>
                <select class="custom-select form-control">
                    <option selected>Select A Situation</option>
                    <option value="1">Made</option>
                    <option value="2">Will Make</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="exampleInputEmail1">Marriage Status</label>
                <select class="custom-select form-control">
                    <option selected>Select A Situation</option>
                    <option value="1">Single</option>
                    <option value="2">Married</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">Your Web Site</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Web Site">
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">LinkedIn Address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter LinkedIn Address">
            </div>
        </div>

    </div>

</form>
<form>
    <div class="form-group mt-3">
        <label for="exampleInputEmail1">Experience</label>
        <div class="row mt-2">
            <div class="col-md-4">
                <label for="exampleInputEmail1">Company Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Company Name">
            </div>
            <div class="col-md-2">
                <label for="exampleInputEmail1">City</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter City">
            </div>
            <div class="col-md-2">
                <label for="exampleInputEmail1">Position</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Position">
            </div>
            <div class="col-md-2">
                <label for="exampleInputEmail1">Start Date</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Start Date">
            </div>
            <div class="col-md-2">
                <label for="exampleInputEmail1">End Date</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter End Date">
            </div>
        </div>
    </div>

</form>

<form>
    <div class="form-group mt-3">
        <label for="exampleInputEmail1">Education</label>
        <div class="row mt-2">
            <div class="col-md-4">
                <label for="exampleInputEmail1">School Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter School Name">
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">Start Date</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Start Date">
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">End Date</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter End Date">
            </div>
        </div>
    </div>

</form>
<form>
    <div class="form-group mt-3">
        <label for="exampleInputEmail1">Skills</label>
        <div class="row mt-2">
            <div class="col-md-4">
                <label for="exampleInputEmail1">Skill Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Skill Name">
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">Rating 1-10</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Rating">
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">Skill Experience</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Skill Experience">
            </div>
        </div>
    </div>
    <button class="btn btn-success mt-3 mb-3">Submit</button>
</form>

@code {

}
